/* For Webkit browsers (Chrome, Safari, Edge) */
.scrollbar-thin::-webkit-scrollbar {
  width: 0; /* Hide scrollbar */
  height: 0;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: transparent; /* Optional: You can still style this if you want */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent; /* Optional */
}

/* For Firefox */
.scrollbar-thin {
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.scrollbar-thin {
  -ms-overflow-style: none;  /* For Internet Explorer 10+ */
}
